permissions:
  contents: read
name: main-workflow

on:
  push:
    branches: [ main, develop, 'sprint/**', 'release/**' ]
  pull_request:
    branches: [ main, develop, 'sprint/**', 'release/**' ]

jobs:
  trigger-L1:
    uses: ./.github/workflows/L1-tests.yml
    with:
      caller_source: local
    secrets:
      RDKCM_RDKE: ${{ secrets.RDKCM_RDKE }}
